<div class="about-container">
    <mat-card class="main-card">
        <mat-card-header>
            <mat-card-title>Our Mission</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>We are committed to empowering individuals with dementia and their caregivers by providing innovative
                tools and resources that promote independence, dignity, and connection.</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="main-card">
        <mat-card-header>
            <mat-card-title>Our Team</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Our team comprises passionate experts in developing user-friendly and effective solutions to support
                those living with dementia and their loved ones.</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="main-card">
        <mat-card-header>
            <mat-card-title>Our Approach</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>We believe that technology can play a vital role in enhancing the lives of people with dementia. Our app
                is designed to be a comprehensive companion, offering features that address cognitive decline, promote
                mental stimulation, and simplify daily tasks.</p>
        </mat-card-content>
    </mat-card>
</div>