.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 20px; /* Adjust spacing between columns */
  }

  .main-column {
    display: flex;
    flex-direction: column;
    width: 300px; /* Fixed width for main column */
  }
  
  .main-card {
    width: 100%; /* Main cards take full width of main column */
    height: 300px; /* Fixed height for main cards */
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 20px; /* Add top margin */
    margin-left:25px;
    overflow: hidden;
  }
  
  .main-card:hover {
    transform: scale(1.05); /* Scale up card on hover */
  }
  
  
 
  